.reqcont{
	background-color:'red';
}
.table {
	border-collapse: collapse;
	width: 100%;
}

.tabletd {
	border-top: 1px solid var(--second-bg-color);
	padding: 15px;
}

.tableth {
	border-top: 1px solid var(--second-bg-color);
	border-bottom: 1px solid var(--second-bg-color);
	padding: 15px 12px;
	text-align: left;
}
